section.preview{
    margin: 20px;
}
div.container{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    gap: 50px;
    padding: 10px 30px;
}
div.content{
    width: fit-content;
    font-size: 1.7rem;
    padding: 0;
    margin-top: 0;
}
section.preview p{
    color: #000;
    text-align: justify;
    font-weight: 100px;
}
div.imgPpal{
    width: 100%;
    padding: 0;
    margin: 20px;
    grid-column: 2;
    grid-row: 1/span 4;
}
div.vistas{
    margin: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(4,1fr);
    justify-content: center;
    gap: 15px;
    width: 80%;
    height: 80%;
}
div.vistas img{
    width: 100%;
    height: 100%;
    cursor: pointer;
	transition: var(---a) .3s ease;
}
.imgPpal1{    
    background: url('../images/prod1/abrigo1.webp') no-repeat center center;
    background-size: cover;
}
div.vistas > .vista1:hover ~ .imgPpal1{
    background: url('../images/prod1/vista1.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal1{
    background: url('/images/prod1/vista2.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal1{
    background: url('../images/prod1/vista3.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal1{
    background: url('../images/prod1/vista4.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}

.imgPpal2{    
    background: url('../images/prod2/abrigo2.webp') no-repeat center center;
    background-size: cover;
}

div.vistas > .vista1:hover ~ .imgPpal2{
    background: url('../images/prod2/vista1.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal2{
    background: url('../images/prod2/vista2.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal2{
    background: url('../images/prod2/vista3.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal2{
    background: url('../images/prod2/vista4.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}

.imgPpal3{    
    background: url('../images/prod3/abrigo3.webp') no-repeat center center;
    background-size: cover;
}

div.vistas > .vista1:hover ~ .imgPpal3{
    background: url('../images/prod3/vista1.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal3{
    background: url('../images/prod3/vista2.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal3{
    background: url('../images/prod3/vista3.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal3{
    background: url('../images/prod3/vista4.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}

.imgPpal4{    
    background: url('../images/prod4/abrigo4.webp') no-repeat center center;
    background-size: cover;
}

div.vistas > .vista1:hover ~ .imgPpal4{
    background: url('../images/prod4/vista1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal4{
    background: url('../images/prod4/vista2.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal4{
    background: url('../images/prod4/vista3.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal4{
    background: url('../images/prod4/vista4.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}