#sidebar .side-menu a {
    justify-content:start;
}
section.preview{
    margin: 20px;
}
div.container{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    gap: 50px;
    padding: 10px 30px;
}
div.content{
    width: fit-content;
    font-size: 1.7rem;
    padding: 0;
    margin-top: 0;
}
section.preview p{
    color: #000;
    text-align: justify;
    font-weight: 100px;
}
div.imgPpal{
    width: 100%;
    padding: 0;
    margin: 20px;
    grid-column: 2;
    grid-row: 1/span 4;
    transition: all 0.6s ease-in-out 0.2s;
}
div.vistas{
    margin: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(4,1fr);
    justify-content: center;
    gap: 15px;
    width: 80%;
    height: 80%;
    transition: all 0.6s ease-in-out 0.2s;
}
div.vistas img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.imgPpal1{    
    background: url('../images/prod1/abrigo1.webp') no-repeat center center;
    background-size: cover;
}
div.vistas > .vista1:hover ~ .imgPpal1{
    background: url('../images/prod1/vista1.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal1{
    background: url('../images/prod1/vista2.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal1{
    background: url('../images/prod1/vista3.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal1{
    background: url('../images/prod1/vista4.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}

.imgPpal2{    
    background: url('../images/prod2/abrigo2.webp') no-repeat center center;
    background-size: cover;
}

div.vistas > .vista1:hover ~ .imgPpal2{
    background: url('../images/prod2/vista1.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal2{
    background: url('../images/prod2/vista2.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal2{
    background: url('../images/prod2/vista3.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal2{
    background: url('../images/prod2/vista4.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}

.imgPpal3{    
    background: url('../images/prod3/abrigo3.webp') no-repeat center center;
    background-size: cover;
}

div.vistas > .vista1:hover ~ .imgPpal3{
    background: url('../images/prod3/vista1.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal3{
    background: url('../images/prod3/vista2.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal3{
    background: url('../images/prod3/vista3.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal3{
    background: url('../images/prod3/vista4.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}

.imgPpal4{    
    background: url('../images/prod4/abrigo4.webp') no-repeat center center;
    background-size: cover;
}

div.vistas > .vista1:hover ~ .imgPpal4{
    background: url('../images/prod4/vista1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal4{
    background: url('../images/prod4/vista2.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal4{
    background: url('../images/prod4/vista3.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal4{
    background: url('../images/prod4/vista4.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.imgPpal5{    
    background: url('../images/prod5/camisa1.webp') no-repeat center center;
    background-size: cover;
}

div.vistas > .vista1:hover ~ .imgPpal5{
    background: url('../images/prod5/vista1.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal5{
    background: url('../images/prod5/vista2.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal5{
    background: url('../images/prod5/vista3.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal5{
    background: url('../images/prod5/vista4.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.imgPpal6{    
    background: url('../images/prod6/camisa2.webp') no-repeat center center;
    background-size: cover;
}

div.vistas > .vista1:hover ~ .imgPpal6{
    background: url('../images/prod6/vista1.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal6{
    background: url('../images/prod6/vista2.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal6{
    background: url('../images/prod6/vista3.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal6{
    background: url('../images/prod6/vista4.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.imgPpal7{    
    background: url('../images/prod7/camisa3.webp') no-repeat center center;
    background-size: cover;
}

div.vistas > .vista1:hover ~ .imgPpal7{
    background: url('../images/prod7/vista1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal7{
    background: url('../images/prod7/vista2.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal7{
    background: url('../images/prod7/vista3.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal7{
    background: url('../images/prod7/vista4.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.imgPpal8{    
    background: url('../images/prod8/camisa4.webp') no-repeat center center;
    background-size: cover;
}

div.vistas > .vista1:hover ~ .imgPpal8{
    background: url('../images/prod8/vista1.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal8{
    background: url('../images/prod8/vista2.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal8{
    background: url('../images/prod8/vista3.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal8{
    background: url('../images/prod8/vista4.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.imgPpal9{    
    background: url('../images/prod9/pantalon1.webp') no-repeat center center;
    background-size: cover;
}

div.vistas > .vista1:hover ~ .imgPpal9{
    background: url('../images/prod9/vista1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal9{
    background: url('../images/prod9/vista2.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal9{
    background: url('../images/prod9/vista3.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal9{
    background: url('../images/prod9/vista4.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.imgPpal10{    
    background: url('../images/prod10/pantalon2.webp') no-repeat center center;
    background-size: cover;
}

div.vistas > .vista1:hover ~ .imgPpal10{
    background: url('../images/prod10/vista1.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal10{
    background: url('../images/prod10/vista2.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal10{
    background: url('../images/prod10/vista3.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal10{
    background: url('../images/prod10/vista4.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.imgPpal11{    
    background: url('../images/prod11/pantalon3.webp') no-repeat center center;
    background-size: cover;
}

div.vistas > .vista1:hover ~ .imgPpal11{
    background: url('../images/prod11/vista1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal11{
    background: url('../images/prod11/vista2.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal11{
    background: url('../images/prod11/vista3.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal11{
    background: url('../images/prod11/vista4.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.imgPpal12{    
    background: url('../images/prod12/pantalon4.webp') no-repeat center center;
    background-size: cover;
}

div.vistas > .vista1:hover ~ .imgPpal12{
    background: url('../images/prod12/vista1.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
    clip-path: circle(150% at top right);
    transition: clip-path 0.6s;
}
.vistas > .vista2:hover ~ .imgPpal12{
    background: url('../images/prod12/vista2.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal12{
    background: url('../images/prod12/vista3.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal12{
    background: url('../images/prod12/vista4.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}


@media (max-width: 768px) {
    main{
        padding: 0;
    }
    div.container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 500px));
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 0px;    
    }
    div.preview{
        margin: 0;
        padding: 0;
    }
    div.preview p{
        font-size: 0.7rem;
    }
    .content{
        width: calc(100% - 60px);
        padding: 5px;
        margin-top: 0;
        justify-content: center;
    }
    .vistas{
        margin: 10px;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: repeat(4,1fr);
        justify-content: center;
        gap: 8;
        width: 100%;
    }
    .imgPpal {
        width: 100%;
        margin-left: 0;
        height: auto;
        grid-row: 1/span4;
        grid-column: 2;
    }
    .vistas img{
        width: 100%;
        height: auto;
    }
    .vista1{
        grid-row: 1;
        grid-column: 1;
    }
    .vista2{
        grid-row: 2;
        grid-column: 1;
    }
    .vista3{
        grid-row: 3;
        grid-column: 1;
    }
    .vista4{
        grid-row: 4;
        grid-column: 1;
    }
}